.idea/
.DS_Store
cmake-build-debug/
cmake-build-release/
plogapp/.DS_Store
CMakeFiles
CMakeCache.txt
plog1
plog.cbp
Makefile
cmake_install.cmake
ex
plog1
clingo1
wplog


# Latex Aux. fules
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
./.predictive/*
*region.*
prv__.fmt
prv__.log
# auto folder when using emacs and auctex
./auto/*
*.el
